{
    "openapi": "3.0.1",
    "info": {
        "title": "Marketing Events",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "cms": "STARTER"
        },
        "x-hubspot-documentation-banner": "PUBLIC_BETA",
        "x-hubspot-api-use-case": "You have an external system that handles registration for your webinars and you want to ensure that attendee data and behavior is synced with your HubSpot CRM.",
        "x-hubspot-related-documentation": [
            {
                "name": "Marketing Events Guide",
                "url": "https://developers.hubspot.com/beta-docs/guides/api/marketing/marketing-events"
            }
        ],
        "x-hubspot-introduction": "A marketing event is a CRM object, similar to contacts and companies, that enables you to track marketing events, such as a webinar, along with the contacts who registered and attended the event. Below, learn more about working with the marketing event API to integrate marketing events into an app."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/marketing/v3/marketing-events"
        }
    ],
    "tags": [
        {
            "name": "Add event attendees"
        },
        {
            "name": "Retrieve Participant State"
        },
        {
            "name": "Subscriber State Changes"
        },
        {
            "name": "Basic"
        },
        {
            "name": "Batch"
        },
        {
            "name": "List Associations"
        },
        {
            "name": "Identifiers"
        },
        {
            "name": "Change property"
        },
        {
            "name": "Settings"
        }
    ],
    "paths": {
        "/attendance/{externalEventId}/{subscriberState}/create": {
            "post": {
                "tags": [
                    "Add event attendees"
                ],
                "summary": "Record participants by contact IDs",
                "description": "Records the participation of multiple HubSpot contacts in a Marketing Event using their HubSpot contact IDs.\n\nAdditional Functionality:\n- Adds a timeline event to the contacts.\n\nAllowed Properties:\nFor the state \"attend\":\n- joinedAt\n- leftAt",
                "operationId": "post-/attendance/{externalEventId}/{subscriberState}/create_recordByContactIds",
                "parameters": [
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subscriberState",
                        "in": "path",
                        "description": "The new subscriber state for the HubSpot contacts and the specified marketing event. For example: 'register', 'attend' or 'cancel'",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalAccountId",
                        "in": "query",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputMarketingEventSubscriber"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSubscriberVidResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/participations/{marketingEventId}/breakdown": {
            "get": {
                "tags": [
                    "Retrieve Participant State"
                ],
                "summary": "Get participations breakdown by event",
                "description": "Read Marketing event's participations breakdown with optional filters by internal identifier marketingEventId.",
                "operationId": "get-/participations/{marketingEventId}/breakdown_getParticipationsBreakdownByMarketingEventId",
                "parameters": [
                    {
                        "name": "marketingEventId",
                        "in": "path",
                        "description": "The internal id of the marketing event in HubSpot",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "contactIdentifier",
                        "in": "query",
                        "description": "The identifier of the Contact. It may be email or internal id",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "The participation state value. It may be REGISTERED, CANCELLED, ATTENDED, NO_SHOW",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The limit for response size. The default value is 10, the max number is 100",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor indicating the position of the last retrieved item",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    }
                ]
            }
        },
        "/events/{externalEventId}/{subscriberState}/upsert": {
            "post": {
                "tags": [
                    "Subscriber State Changes"
                ],
                "summary": "Record subscriber state by contact",
                "description": "Record a subscriber state between multiple HubSpot contacts and a marketing event, using HubSpot contact IDs. Note that the contact must already exist in HubSpot; a contact will not be created.",
                "operationId": "post-/events/{externalEventId}/{subscriberState}/upsert_upsertByContactId",
                "parameters": [
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subscriberState",
                        "in": "path",
                        "description": "The new subscriber state for the HubSpot contacts and the specified marketing event. For example: 'register', 'attend' or 'cancel'",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalAccountId",
                        "in": "query",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputMarketingEventSubscriber"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/events/{externalEventId}": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "Get Marketing Event by External IDs",
                "description": "Returns the details of a Marketing Event with the specified externalAccountId, externalEventId, if it exists.\n\nOnly Marketing Events created by the same app making the request can be retrieved.",
                "operationId": "get-/events/{externalEventId}_getDetails",
                "parameters": [
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalAccountId",
                        "in": "query",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketingEventPublicReadResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "Basic"
                ],
                "summary": "Create or update a marketing event",
                "description": "Upserts a marketing event If there is an existing marketing event with the specified ID, it will be updated; otherwise a new event will be created.",
                "operationId": "put-/events/{externalEventId}_upsert",
                "parameters": [
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MarketingEventCreateRequestParams"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketingEventPublicDefaultResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Basic"
                ],
                "summary": "Delete event by external IDs",
                "description": "Deletes the existing Marketing Event with the specified externalAccountId, externalEventId, if it exists.\n\nOnly Marketing Events created by the same app can be deleted.",
                "operationId": "delete-/events/{externalEventId}_archive",
                "parameters": [
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalAccountId",
                        "in": "query",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Basic"
                ],
                "summary": "Update event by external IDs",
                "description": "Updates the details of an existing Marketing Event identified by its externalAccountId, externalEventId if it exists.\n\nOnly Marketing Events created by the same app can be updated.",
                "operationId": "patch-/events/{externalEventId}_update",
                "parameters": [
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalAccountId",
                        "in": "query",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MarketingEventUpdateRequestParams"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketingEventPublicDefaultResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/events/upsert": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Upsert multiple marketing events",
                "description": "Upserts multiple Marketing Events. If a Marketing Event with the specified ID already exists, it will be updated; otherwise, a new event will be created.\n\nOnly Marketing Events originally created by the same app can be updated.",
                "operationId": "post-/events/upsert_batchUpsert",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputMarketingEventCreateRequestParams"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseMarketingEventPublicDefaultResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/attendance/{externalEventId}/{subscriberState}/email-create": {
            "post": {
                "tags": [
                    "Add event attendees"
                ],
                "summary": "Record participants by email",
                "description": "Records the participation of multiple HubSpot contacts in a Marketing Event using their email addresses.\n\nIf a contact does not exist, it will be automatically created. The contactProperties field is used exclusively for creating new contacts and will not update properties of existing contacts.\n\nAdditional Functionality:\n- Adds a timeline event to the contacts.\n\nAllowed Properties:\nFor the state \"attend\":\n- joinedAt\n- leftAt",
                "operationId": "post-/attendance/{externalEventId}/{subscriberState}/email-create_recordByContactEmails",
                "parameters": [
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subscriberState",
                        "in": "path",
                        "description": "The new subscriber state for the HubSpot contacts and the specified marketing event. For example: 'register', 'attend' or 'cancel'",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalAccountId",
                        "in": "query",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSubscriberEmailResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/participations/{externalAccountId}/{externalEventId}/breakdown": {
            "get": {
                "tags": [
                    "Retrieve Participant State"
                ],
                "summary": "Get participation breakdown",
                "description": "Read Marketing event's participations breakdown with optional filters by externalAccountId and externalEventId pair.",
                "operationId": "get-/participations/{externalAccountId}/{externalEventId}/breakdown_getParticipationsBreakdownByExternalEventId",
                "parameters": [
                    {
                        "name": "externalAccountId",
                        "in": "path",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contactIdentifier",
                        "in": "query",
                        "description": "The identifier of the Contact. It may be email or internal id",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "The participation state value. It may be REGISTERED, CANCELLED, ATTENDED, NO_SHOW",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The limit for response size. The default value is 10, the max number is 100",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor indicating the position of the last retrieved item",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    }
                ]
            }
        },
        "/{objectId}": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "Get Marketing Event by objectId",
                "description": "Returns the details of a Marketing Event with the specified objectId, if it exists.",
                "operationId": "get-/{objectId}",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The internal ID of the marketing event in HubSpot",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketingEventPublicReadResponseV2"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Basic"
                ],
                "summary": "Delete Marketing Event by objectId",
                "description": "Deletes the existing Marketing Event with the specified objectId, if it exists.",
                "operationId": "delete-/{objectId}",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The internal ID of the marketing event in HubSpot",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Basic"
                ],
                "summary": "Update Marketing Event by objectId",
                "description": "Updates the details of an existing Marketing Event identified by its objectId, if it exists.",
                "operationId": "patch-/{objectId}",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The internal ID of the marketing event in HubSpot",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MarketingEventPublicUpdateRequestV2"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketingEventPublicDefaultResponseV2"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/associations/{externalAccountId}/{externalEventId}/lists": {
            "get": {
                "tags": [
                    "List Associations"
                ],
                "summary": "Get event-associated lists",
                "description": "Gets lists associated with a marketing event by external account id and external event id",
                "operationId": "get-/associations/{externalAccountId}/{externalEventId}/lists_getAllByExternalAccountAndEventIds",
                "parameters": [
                    {
                        "name": "externalAccountId",
                        "in": "path",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalPublicListNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/associations/{marketingEventId}/lists": {
            "get": {
                "tags": [
                    "List Associations"
                ],
                "summary": "Get event-associated lists",
                "description": "Gets lists associated with a marketing event by marketing event id",
                "operationId": "get-/associations/{marketingEventId}/lists_getAllByMarketingEventId",
                "parameters": [
                    {
                        "name": "marketingEventId",
                        "in": "path",
                        "description": "The internal id of the marketing event in HubSpot",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalPublicListNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/{objectId}/attendance/{subscriberState}/email-create": {
            "post": {
                "tags": [
                    "Add event attendees"
                ],
                "summary": "Record participants by email",
                "description": "Records the participation of multiple HubSpot contacts in a Marketing Event using their email addresses.\n\nIf a contact does not exist, it will be automatically created. The contactProperties field is used exclusively for creating new contacts and will not update properties of existing contacts.\n\nAdditional Functionality:\n- Adds a timeline event to the contacts.\n\nAllowed Properties:\nFor the state \"attend\":\n- joinedAt\n- leftAt",
                "operationId": "post-/{objectId}/attendance/{subscriberState}/email-create",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The internal ID of the marketing event in HubSpot",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subscriberState",
                        "in": "path",
                        "description": "The attendance state value. It may be 'register', 'attend' or 'cancel'",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSubscriberEmailResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "Get all marketing event",
                "description": "Returns all Marketing Events available on the portal, along with their properties, regardless of whether they were created manually or through the application.\n\nThe marketing events returned by this endpoint are sorted by objectId.",
                "operationId": "get-/",
                "parameters": [
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor indicating the position of the last retrieved item",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The limit for response size. The default value is 10, the max number is 100",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseMarketingEventPublicReadResponseV2ForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    }
                ]
            }
        },
        "/batch/update": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Batch update events by ObjectId",
                "description": "Updates multiple Marketing Events on the portal based on their objectId, if they exist.",
                "operationId": "post-/batch/update",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputMarketingEventPublicUpdateRequestFullV2"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseMarketingEventPublicDefaultResponseV2"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseMarketingEventPublicDefaultResponseV2WithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/{objectId}/attendance/{subscriberState}/create": {
            "post": {
                "tags": [
                    "Add event attendees"
                ],
                "summary": "Record participants by contact ID",
                "description": "Records the participation of multiple HubSpot contacts in a Marketing Event using their HubSpot contact IDs.\n\nAdditional Functionality:\n- Adds a timeline event to the contacts.\n\nAllowed Properties:\nFor the state \"attend\":\n- joinedAt\n- leftAt",
                "operationId": "post-/{objectId}/attendance/{subscriberState}/create",
                "parameters": [
                    {
                        "name": "objectId",
                        "in": "path",
                        "description": "The internal id of the marketing event in HubSpot",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subscriberState",
                        "in": "path",
                        "description": "The attendance state value. It may be 'register', 'attend' or 'cancel'",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputMarketingEventSubscriber"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSubscriberVidResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/batch/archive": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Batch delete events by ObjectId",
                "description": "Deletes multiple Marketing Events from the portal based on their objectId, if they exist.\n\nResponses:\n204: Returned if all specified Marketing Events were successfully deleted.\n207: Returned if some objectIds did not correspond to any existing Marketing Events.",
                "operationId": "post-/batch/archive",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputMarketingEventPublicObjectIdDeleteRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/participations/{externalAccountId}/{externalEventId}": {
            "get": {
                "tags": [
                    "Retrieve Participant State"
                ],
                "summary": "Get participation counters",
                "description": "Read Marketing event's participations counters by externalAccountId and externalEventId pair.",
                "operationId": "get-/participations/{externalAccountId}/{externalEventId}_getParticipationsCountersByEventExternalId",
                "parameters": [
                    {
                        "name": "externalAccountId",
                        "in": "path",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AttendanceCounters"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    }
                ]
            }
        },
        "/{externalEventId}/identifiers": {
            "get": {
                "tags": [
                    "Identifiers"
                ],
                "summary": "Find events by externalEventId",
                "description": "This endpoint searches the portal for all Marketing Events whose externalEventId matches the value provided in the request.\n\nIt retrieves the objectId and additional event details for each matching Marketing Event.\n\nSince multiple Marketing Events can have the same externalEventId, the endpoint returns all matching results.\n\nNote: Marketing Events become searchable by externalEventId a few minutes after creation.",
                "operationId": "get-/{externalEventId}/identifiers",
                "parameters": [
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalMarketingEventIdentifiersResponseNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    }
                ]
            }
        },
        "/participations/{marketingEventId}": {
            "get": {
                "tags": [
                    "Retrieve Participant State"
                ],
                "summary": "Get participation counters",
                "description": "Read Marketing event's participations counters by internal identifier marketingEventId.",
                "operationId": "get-/participations/{marketingEventId}_getParticipationsCountersByMarketingEventId",
                "parameters": [
                    {
                        "name": "marketingEventId",
                        "in": "path",
                        "description": "The internal id of the marketing event in HubSpot",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AttendanceCounters"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    }
                ]
            }
        },
        "/events/delete": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Batch delete by external IDs",
                "description": "Deletes multiple Marketing Events based on externalAccountId, externalEventId, and appId.\n\nOnly Marketing Events created by the same apps will be deleted; events from other apps cannot be removed by this endpoint. ",
                "operationId": "post-/events/delete_batchArchive",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputMarketingEventExternalUniqueIdentifier"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/events/{externalEventId}/cancel": {
            "post": {
                "tags": [
                    "Change property"
                ],
                "summary": "Mark a marketing event as cancelled",
                "description": "Mark a marketing event as cancelled.",
                "operationId": "post-/events/{externalEventId}/cancel_cancel",
                "parameters": [
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalAccountId",
                        "in": "query",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketingEventDefaultResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/associations/{marketingEventId}/lists/{listId}": {
            "put": {
                "tags": [
                    "List Associations"
                ],
                "summary": "Associate list with event",
                "description": "Associates a list with a marketing event by marketing event id and ILS list id",
                "operationId": "put-/associations/{marketingEventId}/lists/{listId}_associateByMarketingEventId",
                "parameters": [
                    {
                        "name": "marketingEventId",
                        "in": "path",
                        "description": "The internal id of the marketing event in HubSpot",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The ILS ID of the list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "List Associations"
                ],
                "summary": "Disassociate list from event",
                "description": "Disassociates a list from a marketing event by marketing event id and ILS list id",
                "operationId": "delete-/associations/{marketingEventId}/lists/{listId}_disassociateByMarketingEventId",
                "parameters": [
                    {
                        "name": "marketingEventId",
                        "in": "path",
                        "description": "The internal id of the marketing event in HubSpot",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The ILS ID of the list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/events/{externalEventId}/{subscriberState}/email-upsert": {
            "post": {
                "tags": [
                    "Subscriber State Changes"
                ],
                "summary": "Record subscriber state by email",
                "description": "Record a subscriber state between multiple HubSpot contacts and a marketing event, using contact email addresses. Note that the contact must already exist in HubSpot; a contact will not be created. The contactProperties field is used only when creating a new contact. These properties will not update existing contacts. ",
                "operationId": "post-/events/{externalEventId}/{subscriberState}/email-upsert_upsertByContactEmail",
                "parameters": [
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subscriberState",
                        "in": "path",
                        "description": "The new subscriber state for the HubSpot contacts and the specified marketing event. For example: 'register', 'attend' or 'cancel'",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalAccountId",
                        "in": "query",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputMarketingEventEmailSubscriber"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/associations/{externalAccountId}/{externalEventId}/lists/{listId}": {
            "put": {
                "tags": [
                    "List Associations"
                ],
                "summary": "Associate list with event",
                "description": "Associates a list with a marketing event by external account id, external event id, and ILS list id",
                "operationId": "put-/associations/{externalAccountId}/{externalEventId}/lists/{listId}_associateByExternalAccountAndEventIds",
                "parameters": [
                    {
                        "name": "externalAccountId",
                        "in": "path",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The ILS ID of the list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "List Associations"
                ],
                "summary": "Disassociate a list from event",
                "description": "Disassociates a list from a marketing event by external account id, external event id, and ILS list id",
                "operationId": "delete-/associations/{externalAccountId}/{externalEventId}/lists/{listId}_disassociateByExternalAccountAndEventIds",
                "parameters": [
                    {
                        "name": "externalAccountId",
                        "in": "path",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The ILS ID of the list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/events/{externalEventId}/complete": {
            "post": {
                "tags": [
                    "Change property"
                ],
                "summary": "Mark a marketing event as completed",
                "description": "Mark a marketing event as completed",
                "operationId": "post-/events/{externalEventId}/complete_complete",
                "parameters": [
                    {
                        "name": "externalEventId",
                        "in": "path",
                        "description": "The id of the marketing event in the external event application",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "externalAccountId",
                        "in": "query",
                        "description": "The accountId that is associated with this marketing event in the external event application",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MarketingEventCompleteRequestParams"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketingEventDefaultResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/events": {
            "post": {
                "tags": [
                    "Basic"
                ],
                "summary": "Create a marketing event",
                "description": "Creates a new marketing event in HubSpot",
                "operationId": "post-/events_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MarketingEventCreateRequestParams"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketingEventDefaultResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.write"
                        ]
                    }
                ]
            }
        },
        "/participations/contacts/{contactIdentifier}/breakdown": {
            "get": {
                "tags": [
                    "Retrieve Participant State"
                ],
                "summary": "Get participation breakdown",
                "description": "Read Contact's participations by identifier - email or internal id.",
                "operationId": "get-/participations/contacts/{contactIdentifier}/breakdown_getParticipationsBreakdownByContactId",
                "parameters": [
                    {
                        "name": "contactIdentifier",
                        "in": "path",
                        "description": "The identifier of the Contact. It may be email or internal id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "The participation state value. It may be REGISTERED, CANCELLED, ATTENDED, NO_SHOW",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The limit for response size. The default value is 10, the max number is 100",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The cursor indicating the position of the last retrieved item",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalParticipationBreakdownForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    }
                ]
            }
        },
        "/{appId}/settings": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "summary": "Retrieve the application settings",
                "description": "Retrieve the current settings for the application.",
                "operationId": "get-/{appId}/settings_getAll",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "description": "The id of the application to retrieve the settings for",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventDetailSettings"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "developer_hapikey": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Settings"
                ],
                "summary": "Update the application settings",
                "description": "Create or update the current settings for the application.",
                "operationId": "post-/{appId}/settings_update",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "path",
                        "description": "The id of the application to update the settings for",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventDetailSettingsUrl"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventDetailSettings"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "developer_hapikey": []
                    }
                ]
            }
        },
        "/events/search": {
            "get": {
                "tags": [
                    "Identifiers"
                ],
                "summary": "Find events by external ID",
                "description": "Retrieves Marketing Events where the externalEventId matches the value provided in the request, limited to events created by the app making the request.\n\nMarketing Events created by other apps will not be included in the results.",
                "operationId": "get-/events/search_doSearch",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "The id of the marketing event in the external event application (externalEventId)",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseSearchPublicResponseWrapperNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.marketing_events.read"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "MarketingEventCompleteRequestParams": {
                "required": [
                    "endDateTime",
                    "startDateTime"
                ],
                "type": "object",
                "properties": {
                    "startDateTime": {
                        "type": "string",
                        "format": "datetime",
                        "description": "The start date and time of the marketing event."
                    },
                    "endDateTime": {
                        "type": "string",
                        "format": "datetime",
                        "description": "The end date and time of the marketing event."
                    }
                },
                "description": "Parameters required to mark a marketing event as complete, including its start and end times."
            },
            "ParticipationProperties": {
                "required": [
                    "attendanceState",
                    "occurredAt"
                ],
                "type": "object",
                "properties": {
                    "occurredAt": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Unix timestamp (ms) when the participation event occurred."
                    },
                    "attendancePercentage": {
                        "type": "string",
                        "description": "Percentage of the event the contact attended."
                    },
                    "attendanceState": {
                        "type": "string",
                        "enum": [
                            "REGISTERED",
                            "ATTENDED",
                            "CANCELLED",
                            "EMPTY",
                            "NO_SHOW"
                        ],
                        "description": "Contact's attendance status: REGISTERED, ATTENDED, CANCELLED, EMPTY, or NO_SHOW."
                    },
                    "attendanceDurationSeconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total duration in seconds the contact attended the event."
                    }
                },
                "description": "Properties describing a contact's participation state and engagement in a marketing event."
            },
            "SubscriberEmailResponse": {
                "required": [
                    "email",
                    "vid"
                ],
                "type": "object",
                "properties": {
                    "vid": {
                        "type": "integer",
                        "description": "The HubSpot contact ID (VID) of the subscriber."
                    },
                    "email": {
                        "type": "string",
                        "description": "The email address of the subscriber."
                    }
                },
                "description": "Response object containing a HubSpot contact's ID and email address."
            },
            "MarketingEventPublicReadResponse": {
                "required": [
                    "attendees",
                    "cancellations",
                    "createdAt",
                    "eventName",
                    "eventOrganizer",
                    "externalEventId",
                    "id",
                    "noShows",
                    "registrants",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "registrants": {
                        "type": "integer",
                        "description": "The number of HubSpot contacts that registered for this marketing event",
                        "format": "int32"
                    },
                    "eventOrganizer": {
                        "type": "string",
                        "description": "The name of the organizer of the marketing event"
                    },
                    "eventUrl": {
                        "type": "string",
                        "description": "A URL in the external event application where the marketing event can be managed"
                    },
                    "attendees": {
                        "type": "integer",
                        "description": "The number of HubSpot contacts that attended this marketing event",
                        "format": "int32"
                    },
                    "eventType": {
                        "type": "string",
                        "description": "The type of the marketing event"
                    },
                    "eventCompleted": {
                        "type": "boolean",
                        "description": "Indicates whether the marketing event has been completed."
                    },
                    "endDateTime": {
                        "type": "string",
                        "description": "The end date and time of the marketing event",
                        "format": "datetime"
                    },
                    "noShows": {
                        "type": "integer",
                        "description": "The number of HubSpot contacts that registered for this marketing event, but did not attend. This field only had a value when the event is over",
                        "format": "int32"
                    },
                    "cancellations": {
                        "type": "integer",
                        "description": "The number of HubSpot contacts that registered for this marketing event, but later cancelled their registration",
                        "format": "int32"
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "Timestamp when the marketing event record was created.",
                        "format": "datetime"
[...]
